In [1]:
import pandas as pd

In [15]:
data = pd.read_csv("F:\data sci Assignment\Recommendation Engine\data set\entertenment.csv")
data.head(20)

,Id,Titles,Category,Reviews
0,6973,Toy Story (1995),"Drama, Romance, School, Supernatural",-8.98
1,6778,Jumanji (1995),"Action, Adventure, Drama, Fantasy, Magic, Mili...",8.88
2,9702,Grumpier Old Men (1995),"Action, Comedy, Historical, Parody, Samurai, S...",99.00
3,6769,Waiting to Exhale (1995),"Sci-Fi, Thriller",99.00
4,1123,Father of the Bride Part II (1995),"Action, Comedy, Historical, Parody, Samurai, S...",-0.44
5,9860,Heat (1995),"Comedy, Drama, School, Shounen, Sports",-6.65
6,1803,Sabrina (1995),"Action, Adventure, Shounen, Super Power",99.00
7,9721,Tom and Huck (1995),"Drama, Military, Sci-Fi, Space",-5.19
8,6563,Sudden Death (1995),"Action, Comedy, Historical, Parody, Samurai, S...",-7.86
9,1323,GoldenEye (1995),"Action, Comedy, Historical, Parody, Samurai, S...",3.01
10,7889,"American President, The (1995)","Drama, Fantasy, Romance, Slice of Life, Supern...",99.00
11,7650,Dracula: Dead and Loving It (1995),"Drama, School, Shounen",-7.23
12,5467,Balto (1995),"Action, Comedy, Historical, Parody, Samurai, S...",99.00
13,7451,Nixon (1995),"Action, Drama, Mecha, Military, Sci-Fi, Super ...",5.97
14,5898,Cutthroat Island (1995),"Comedy, Drama, School, Shounen, Sports",-5.92
15,7355,Casino (1995),"Adventure, Drama, Supernatural",2.91
16,6791,Sense and Sensibility (1995),"Drama, Music, Romance, School, Shounen",99.00
17,8574,Four Rooms (1995),"Adventure, Fantasy, Historical, Mystery, Seine...",0.53
18,9679,Ace Ventura: When Nature Calls (1995),"Fantasy, Slice of Life",99.00
19,5465,Money Train (1995),"Action, Mecha, Military, School, Sci-Fi, Super...",99.00

In [3]:
data.columns
data['Category'].head(10)

0                 Drama, Romance, School, Supernatural
1    Action, Adventure, Drama, Fantasy, Magic, Mili...
2    Action, Comedy, Historical, Parody, Samurai, S...
3                                     Sci-Fi, Thriller
4    Action, Comedy, Historical, Parody, Samurai, S...
5               Comedy, Drama, School, Shounen, Sports
6              Action, Adventure, Shounen, Super Power
7                       Drama, Military, Sci-Fi, Space
8    Action, Comedy, Historical, Parody, Samurai, S...
9    Action, Comedy, Historical, Parody, Samurai, S...
Name: Category, dtype: object

In [4]:
#based on category we shall find the similer movie
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
# Creating a Tfidf Vectorizer to remove all stop words
entern_tdf = TfidfVectorizer(stop_words = "english")

In [6]:
# replacing the NaN values in overview column with empty string
data["Category"].isnull().sum()

0

In [7]:
#no null values
enter_matrix = entern_tdf.fit_transform(data['Category'])   #Transform a count matrix to a normalized tf or tf-idf representation
enter_matrix.shape

(51, 34)

In [8]:
from sklearn.metrics.pairwise import linear_kernel

In [9]:
# Computing the cosine similarity on Tfidf matrix
cosine_sim = linear_kernel(enter_matrix, enter_matrix)

In [10]:
enter_index = pd.Series(data.index, index = data['Titles']).drop_duplicates()

In [13]:
def get_recommendations(title, cosine_sim=cosine_sim):
    rdx = enter_index[title]
    cosine_scores = list(enumerate(cosine_sim[rdx]))
    cosine_scores = sorted(cosine_scores, key=lambda x:x[1], reverse = True)
    cosine_scores = cosine_scores[1:11]
    enter_indic = [i[0] for i in cosine_scores]
    return data['Titles'].iloc[enter_indic]

In [14]:
get_recommendations('Grumpier Old Men (1995)')

4                    Father of the Bride Part II (1995)
8                                   Sudden Death (1995)
9                                      GoldenEye (1995)
12                                         Balto (1995)
41                                    To Die For (1995)
23                                        Powder (1995)
29    Shanghai Triad (Yao a yao yao dao waipo qiao) ...
22                                     Assassins (1995)
42                 How to Make an American Quilt (1995)
21                                       Copycat (1995)
Name: Titles, dtype: object